* {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Arial, sans-serif;
}

body{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}
h1 {
    display: table;
    font-size: 50px;
    text-align: center;
    border: 5px solid blue;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}


h1 a {
    color:rgb(14, 14, 102);
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

ol {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.button-center {
    text-align: center;
}

#js button {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#cmd_recommend,
#end,
.make {
    display: none;
}


